footer {
  width: 100%;
  height: 20vh;
  @include flexCenter;
  text-align: center;
  background-color: theme(dark); /* background-color: #colore */

  h2 {
    color: $bg-light;
    font-size: 4rem;
  }
}

@media (max-width: 767px) {
  footer {
    background-color: theme();
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    background-color: theme(ciao);
  }
}
