/* $nome : valore; */
$bg-light: #ffffff;
$bg-1: hsl(10, 100%, 50%);
$bg-2: hsl(20, 100%, 50%);
$bg-3: hsl(30, 100%, 50%);
$bg-4: hsl(40, 100%, 50%);
$bg-5: hsl(50, 100%, 50%);
$bg-6: hsl(60, 100%, 50%);
$bg-7: hsl(70, 100%, 50%);
$bg-8: hsl(100, 100%, 50%);
$bg-special: hsl(197, 100%, 50%);
$bg-dark: #000000;