* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html { font-size: 10px; }

/* VARIABILI */
@import "./scss/variabili";

/* MIXINS AND FUNCTIONS*/
@import "./scss/functions";
@import "./scss/mixins";

/* PARTIALS */
@import "./scss/font";
@import "./scss/assets";

@import "./scss/navbar";
@import "./scss/hero";
@import "./scss/footer";

